{% extends 'admin/adminbase.html.twig' %}
{% block  body %}
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-12">
            <h1 class="display-4 text-center mt-5">{{ title }}</h1>
        </div>
    </div>
        <div class="row no-gutters">
            <div class="col-12">
                <a class="btn btn-success mt-5" href="{{ path('admin_user_create') }}">Добавить пользователя</a>
            </div>
        </div>
    <div class="row no-gutters mt-3">
        <div class="col-12">
            <h2>Список пользователей</h2>
            <ul>
                {% for user in users %}
                    <li>{{ user.email }} | {{ user.roles|json_encode }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}