{% extends 'admin/adminbase.html.twig' %}
{% block  body %}
    <a href="{{ path('app_logout') }}">Выйти</a>
    <h1>{{ title }}</h1>
    <a href="{{ path('admin_users') }}">Пользователи</a>
{% endblock %}